<%- include('../partials/head') %>
    <div class="container emp-profile">


        <div class="col-md-4">
            <div class="profile-img">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt="" />

            </div>
        </div>


        <div class="profile-head">
            <h5>
                Welcome to your dashboard
            </h5>

        </div>




    </div>



    <%- include('../partials/foot') %>